*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.product{
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
}

.top-container-bg{
    align-self: center;
    padding: 20px 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-container {
    display: flex;
    justify-content:space-between;
    gap: 50px;
}

/* top left container started */

.top-left-container {
    width:700px;
    height:460px;
    flex:1;
}

.top-left-container img{
    width:100%;
    height:100%;
}

.top-left-container iframe{
    width:700px;
    height:393px;

}

.heading-container{
    margin: 15px 5px;
    display: flex;
    gap: 15px;
    font-size: large;
    font-family: "Inter", sans-serif;
    align-items: center;
}

/* top right container started */

.top-right-container {
    flex:1;
    margin-top:65px;
    display: flex;
    flex-direction: column;
    width: 400px;
    overflow:hidden;
}

@media (max-width:1000px){
    .top-container-bg{
        border-radius: 0px;
    }
    .top-container{
        flex-direction: column;
    }
    .top-left-container{
        width: 420px;
    }
    .top-right-container{
        margin-top:5px;
        align-self:center
    }
}

.mini-img-container img{

    margin: 5px 2px;
    width: 100%;
    /*width: 350px;*/
}

.details{
    margin: 3px 2px;
    /*width: 450px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.short-desc{
    font-size: 15px;
    flex-wrap: wrap;
    width: 99%;
    text-align: justify;
    min-height: 115px;
}


.pub-dev{
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-wrap: wrap;
    margin:2px 0px;
    font-size:large;
    color: #898989;
}

.pub-dev-title{
    text-decoration: underline;
    color: #e66051;
    cursor: pointer;
}
.pub-dev-title span {
    padding-right: 5px;
}

.cart-wishlist-container{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    align-items: center;
    color: #161618;

}

.product-cart{
    text-align: center;
    background-color:#3d724f;
    padding:8px;
    cursor:pointer;
    font-size:small;
}

.product-cart:hover{
    background-color:#10d422;
}

.product-wishlist{
    text-align: center;
    background-color:#494a4f ;
    padding:8px;
    cursor:pointer;
    font-size:small;
}

.product-wishlist:hover{
    background-color:#e66051;
}

.add-to-cart-text{
    text-transform: uppercase;
}

.add-to-wishlist-text{
    text-transform: uppercase;
}

/* middle container started */

.middle-container{
    display:block;
    margin: 50px 100px;
    font-size:large;
    font-family: "Noto Serif", serif;
}

.middle-container h2{
    font-size:xxx-large;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    font-family: "Inter", sans-serif
}

@media (max-width:500px){
    .middle-container{
        margin:20px 40px;
    }
}