*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

body{
    background: #27282d;
    color:#E8E5E0;
}

a{
    text-decoration: none;
    color: #E8E5E0;
}


/*=============================*/
/* Main container */
/*=============================*/

/*.main-container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 25px;*/
/*    align-items: center;*/
/*}*/


.warning{
    display: none;
    background: #e66051;
    margin-bottom: 15px;
    margin-top: -30px;
}
.warning p{
    margin:auto;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 15px;
}

/*=============================*/
/* Shop CSS started from here */
/*=============================*/


.shop{
    display: grid;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.prod{
    background: #161618;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.prod-image img{
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.prod-image img:hover{
    opacity: 0.9;
    scale: 105%;
    transition: 350ms;
}

.prod-details{
    display: flex;
    gap: 25px;
    color: #E8E5E0;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size:large;
    padding: 5px 0px;
}
.prod-action{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4px;
    font-size: smaller;
}
.prod-details{
    justify-content: center;
}

.prod-cart, .prod-wishlist{
    background: #494a4f;
    padding: 5px 5px;
    color: #E8E5E0;
    text-align: center;
    outline: none;
}

.prod-cart p, .prod-wishlist p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust spacing between icon and text */
    margin: 0;
}

.prod-cart{
    border-radius: 0px 0px 0px 4px;
    grid-column: span 4;
    cursor: pointer;
}
.prod-cart:hover{
    background: #506e6a;
    color: #161618;
}

.prod-wishlist{
    border-radius: 0px 0px 4px 0px;
    cursor: pointer;
}

.prod-wishlist:hover{
    background: #e3e3d0;
    color:#161618
}


@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2, 280px);
    }
    .prod-details{
        font-size: smaller;
    }
}

@media (max-width:500px){
    .shop{
        grid-template-columns: repeat(1, 240px);
    }
    .prod-details{
        font-size: small;
    }
}

.item-title:hover{
    text-decoration: underline;
}